@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.container {
    position: fixed;
    background: rgb(253, 251, 249);
    inset: 0;
    overflow-y: auto;
    z-index: 1000;
}

.chat {
    width: 45%;
    margin: 0 auto;
    position: relative;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.queryContainer {
    width: 45%;
    position: fixed;
    padding-bottom: 35px;
    bottom: 0;
    margin: 0 auto;
    background: rgb(253, 251, 249);
    padding-top: 20px;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

.inputContainer {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(224, 224, 224);
    background: white;
    border-radius: 999px;
    height: 65px;
    align-items: center;
    padding: 0 10px;
    box-shadow: 0px 7px 16px -5px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 7px 16px -5px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 7px 16px -5px rgba(0, 0, 0, 0.08);
}

.inputContainer input {
    outline: none;
    flex: 1;
    border-radius: 30px;
    border-radius: 999px;
    padding-left: 15px;
    font-size: 20px;
    padding-right: 15px;
    font-family: "Inter", sans-serif;
}

.messagesContainer {
    padding-bottom: 110px;
    flex: 1;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}


.message {
    padding: 5px 10px;
    width: 55%;
    margin-bottom: 20px;
    min-height: 40px;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.userMessage {
    background: #bea475;
    color: white;
    align-self: flex-end;
    border-radius: 12px 0 12px 12px;
}

.botMessage {
    border-radius: 0 12px 12px 12px;
    background: #e2e8ee;
}

.myButton:hover {
    opacity: 0.8;
    transition: all 0.3;
}

.chat h1 {
    text-align: center;
    font-size: 30px;
    font-family: "Inter", sans-serif;
    color: rgb(76, 76, 76);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-53%, -60%);
}

.chat h1>span {
    color: rgb(164, 140, 112);
}

.roomGrid {
    margin-top: 20px;
    display: grid;
    gap: 1rem;
    padding-bottom: 70px;
}


.optionLabel {
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
    opacity: 0.7;
}

.roomContent {
    border-radius: 12px;
    padding: 0.75rem;
    background: #9786860d;
    border: 1px solid #ffffff22;
    display: flex;
    gap: 0.75rem;
}

.roomImageWrapper {
    flex-shrink: 0;
}

.roomImageWrapper img {
    border-radius: 4px;
}

.roomInfo h3 {
    margin: 0 0 0.2rem;
    font-size: 17px;
    color: #948D72;
}

.roomText {
    margin: 0 0 0.5rem;
    font-size: 15px;
}

.facilities {
    list-style: none;
    margin: 0 0 0.5rem;
    display: flex;
    gap: 0.5rem;
    font-size: 0.8rem;
    opacity: 0.8;
    background: rgb(225, 220, 199);
    width: fit-content;
    padding: 2px 5px;
    border-radius: 12px;
    box-sizing: border-box;
}

.price {
    font-weight: 400;
    font-size: 0.9rem;
}