@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.main {
    position: relative;
    background-image: url('../../public/images/main.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.main h1 {
    color: rgb(255, 255, 255);
    font-size: 54px;
    width: 750px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    font-family: "Anton", sans-serif;
    letter-spacing: 0.25em;
    text-shadow: 0px -1px 20px rgba(0, 0, 0, 0.8);

}

.inputContainer {
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
    display: flex;
}

.inputContainer>*:not(:first-child, :last-child) {
    border-left: 0.5px solid #b8b8b8;
}

.btn {
    width: 150px;
    height: 50px;
    background: #555353;
    border-radius: 8px;
    color: white;
}

.btnContainer {
    background: white;
    display: flex;
    align-items: center;
    padding-right: 7px;
    border-radius: 0 12px 12px 0;
}